<div class="text-center p-4">
    <h1 class="text-center mb-3">My Study Dashboard</h1>
    <p class="text-center lead mb-3">Ready To Study? <%= user.profile.displayName %></p>
</div>

<nav class="navbar-right" style="position: fixed; right: 0; top: 10px;" >
        
    <ul class="nav navbar-nav">
        <li class="text-center"><a href=""><img class="text-center"src="<%=user.profile.displayImgLink %>"  alt="" width="70px"></a></li>
        <li><a href="/profile/edit-video" class="btn btn-secondary">Edit Video</a></li>
        <li><a href="/profile/edit-profile" class="btn btn-secondary">Edit Profile</a></li>
        <li><a href="/profile/logout" class="btn btn-secondary">Logout</a></li>
    </ul>
</nav>


<div class="container">
    <div class="row">
        <iframe class="border border-dark p-1 text-center col"src="<%=`https://www.youtube.com/embed/${user.profile.activeLink}`%>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <form action="/video-select" method="POST" name="videoSelect">
            <div class="form-group col p-3 text-center" style="width: 50%;">
                <% if(user.profile.backgroundVideoLinks.length==0){%>
                    <p>Add a video via the Edit Video link</p>
                <%}%>
                <label for="videoSelect">Select Which Video You Want to Display</label><br>
                <select name="videoSelect" id="videoSelect">
                        <option value="" disabled selected>Pick a Video</option>
                        <% user.profile.backgroundVideoLinks.forEach(function(video) { %>
                            <option value="<%=video.videoLink%>"><%= video.videoTitle %></option>
                        <% }); %>
                </select>
                <button type="submit" class="btn btn-primary mb-2 m-4">
                        Confirm
                </button>
            </div>
        </form>
    </div>
</div>

<div class="container p-4">
    <div class="row ">
        <h2 class="col-12 text-center">To Do List</h3>
    </div>
</div>    
<div class="container p-4">
    <div class="row">
        <% profile.tasks.forEach(function(task, index) { %>
            <div class="col-5 border-dark border m-1 text-center" >
                <h3 class=""><%=task.taskTitle%></h3><br>
                <p class="">Importance: <%=task.taskImportance%></p><br>
                <p class="">Length: <%=task.taskLength%></p>
                <form action="/delete-task" method="POST">
                    <input type="hidden" id="taskId" name="taskId" value="<%=task.id%>">
                    <button type="submit" class="btn btn-primary mb-2 m-4">
                        Delete task
                    </button>
                </form>
            </div>
        <% }); %>
    </div>
</div>



<div class="row mt-5 myregister">
    <div class="col-md-6 m-auto">
        <div class="card card-body"> 
            <h1 class="text-center mb-3">
                <i class=""></i> Add to List
            </h1>   
            <form action="/task-update" method="POST" name="taskUpdate">
                <div class="form-group">
                    <label for="taskImportance">Select the urgency of the task</label>
                    <select name="taskImportance" id="taskImportance">
                            <option value="" disabled selected>Pick a Level</option>
                            <% taskData.forEach(function(level) { %>
                                <option value="<%=level.levelOfImportance%>"><%= level.levelOfImportance %></option>
                            <% }); %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="taskTitle">Task Title</label>
                    <input
                        type="taskTitle"
                        id="taskTitle"
                        name="taskTitle"
                        class="form-control"
                        placeholder="Enter the task Title"
                        value="<%= typeof taskTitle != 'undefined' ? taskTitle : '' %>"
                    />
                </div>
                <div class="form-group">
                    <label for="taskLength">Expected Task Length</label>
                    <input
                        type="taskLength"
                        id="taskLength"
                        name="taskLength"
                        class="form-control"
                        placeholder="Enter the Expected Length"
                        value="<%= typeof taskLength != 'undefined' ? taskLength : '' %>"
                    />
                </div>
                <button type="submit" class="mySubmitButton btn btn-primary mb-2 m-4">
                        Add Task
                </button>
            </form>
        </div>
    </div>
</div>

<div class="text-center">

</div>
<p class="text-center p-4">© Jordan Fasso</p>

<script></script>